@import "~bootstrap/scss/bootstrap.scss";

.star {
    width: 92px;   
    height: 40px;
}

.imagen {
    width: 100%;
}

.imagenCard {
    width: 25vw;
    height: 25vh;
    object-fit: cover;
}

// .singleP {
//    background-image: url("https://i.pinimg.com/originals/3f/70/df/3f70dfdd021f762ad9992d5d72d6cc4b.jpg");
//    background-color: transparent;
// }

// body {
//  background-image: url("paper.gif");
//  background-color: #cccccc;
// }

// url(logo.png) bottom center no-repeat,